 * {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height:100%;
    width:100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

#card{
    height: 500px;
    width: 330px;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
    position: relative;
}

#storiyan{
    height: 100px;
    width: 100%;
    padding: 15px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
#storiyan::-webkit-scrollbar{
    display: none;
}



.story{
    display: inline-block;
    height: 70px;
    margin-right: 5px;
    width: 70px;
    border-radius: 50%;
    background: linear-gradient(to right bottom,rgb(0, 123, 255),rgb(242, 52, 31),rgb(223, 10, 177),yellow);
    padding: 3px;
    cursor: pointer;
}

.story img{
    border-radius: 50%;
    
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#postDiv{
    height: 80%;
    width: 100%;
    overflow-y: auto;
}
#postDiv::-webkit-scrollbar{
    display: none;
}
.post{
    margin-bottom: 10px;
}
.post .nav{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px;
    gap: 15px;
}
.nav img{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 2px solid red;
    object-fit: cover;
}
.nav h5{
    font-size: 12px;
}
.post .imageDiv{
    height: 270px;
    width: 100%;
}
.imageDiv img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.optionDiv{
    display: flex;
    align-items: center;
    padding: 6px 20px;
    gap: 8px;
}
.optionDiv h5{
    font-size: 20px;
    font-weight: 100;
}
h6{
    padding: 3px 20px;
    font-size: 15px;
}

#full{
    height: 100%;
    width: 100%;
    position: absolute;
    display: none;
    background-size: cover;
    background-position: center;
    padding: 30px 20px;
}

#full #progress{
    background-color: rgba(193, 193, 193, 0.621);
    height: 7px;
    width: 100%;
    border-radius: 50px;
}

#progress #growth{
    height: 100%;
    width: 0%;
    background-color: white;
    border-radius: 50px;
}

.userDetails{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    margin-top: 12px;
}
.userDetails img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
}
.userDetails h5{
    color: #fff;
    font-weight: 500;


}
